<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- This needs to be entered first.-->
    <div th:replace="fragments/generalCSS :: css" />
  </head>

  <body>
    <div th:replace="fragments/header :: header" />
    <section id="intro" class="bg-light">
      User Info:
      <br />
      Signed In User: <span sec:authentication="name">null</span>
      <br />
      Roles:
      <span sec:authentication="principal.authorities">[]</span>
    </section>
  </body>
  <div th:replace="fragments/footer :: footer" />
</html>
