<!DOCTYPE html>
<html>
  <div th:fragment="footer">
    <footer>
      <div class="landingFooter">
        <nav>
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/markets">MARKETS</a></li>
            <li><a href="/pricing">PRICING</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/terms">TERMS</a></li>
            <li><a href="/contact">CONTACT</a></li>
          </ul>
        </nav>
      </div>

      Copyright &copy; VisualizedAnalytics.com
    </footer>
  </div>
</html>
